// Fonts
$font_stack             : "Work Sans", sans-serif;
$font_special           : "Oswald";

// Coloros
$color_footer           : #2c2c2c;
$color_link             : #00549b;
$color_header_overlay   : rgba(255, 200, 0, 0.6);
$color_cookie_info      : rgba(0, 85, 187, 0.7);
$color_text_main        : #303030;
$color_text_footer      : #ffffff;

$color_beige            : #f5f5dc;
$color_blue             : #0055bb;
$color_grey_dark        : #505050;
$color_grey_light       : #dedede;
$color_white            : #ffffff;
$color_yellow           : #ffc800;

// Transitions
$transition_time        : 0.3s;

// Mobile Sizes
$mobile_width_0         : 900px;
$mobile_width_1         : 700px;
$mobile_width_2         : 480px;
$mobile_width_3         : 340px;
// Media Queries
$query_mobile_width_0   : "max-width : #{$mobile_width_0}";
$query_mobile_width_1   : "max-width : #{$mobile_width_1}";
$query_mobile_width_2   : "max-width : #{$mobile_width_2}";
$query_mobile_width_3   : "max-width : #{$mobile_width_3}";
